@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:wght@100..900&display=swap');

.containerExplorar{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-image: url(./bg-explorar.png);
    background-position: center;
    background-size: cover;
}

.firstTitle{
    font-family: "Inter", sans-serif;
    color: #504908;
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    margin-bottom: 50px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trails{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}