.containerArea{
    height: 300px;
    width: 800px;
    background-color: #242324;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFFFFF;
}

.containerArea h1{
    margin-bottom: 30px;
}