@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:wght@100..900&display=swap');

.container{
    position: relative;
    background-image: url(./assets/trilha-bg.jpg);
    width: 100%;
    height: 600px;
    background-position: bottom;
    background-size: cover;
}

.container::after{
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.459);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

p{
    color: #FFF;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.titulo{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 40px;
}

.principalBanner{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.principalBanner h2{
    text-align: center;
    font-family: "Inter", sans-serif;
}

.principalBanner p{
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 20px;
}

.explorarTrilhas{
    background-color: #504908;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
}

.explorarTrilhas a{
    text-decoration: none;
}

.listContainer li a:hover {
    color: red;
}

