header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: #000000;
}

.menuArea{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu:hover{
    background-color: rgb(209, 209, 56);
}

.logoArea{
    display: flex;
    align-items: center;
}

.logo{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

.favorite{
    background-color: #FFF;
    text-decoration: none;
    padding: 5px 14px;
    color: #000000;
    border-radius: 5px;
}

.menuText{
    display: flex;
    gap: 20px;
}