@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

*{
    font-family: "Comfortaa", sans-serif;
    font-size: 14px;
    color: #FFFFFF;
}
.containerMenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #504908;
    width: 100%;
    height: 80px;
}

.logoContainer{
    padding-left: 50px;
}

.listContainer{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 50px;
}

.listContainer li{
    list-style: none;
}

.listContainer a{
    text-decoration: none;
}

.logoContainer a{
    text-decoration: none;
}


a{
    text-decoration: none;
}

