@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.order-details,
.sale-details {
    flex: 2;
    padding: 40px;
}

.order-details h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.order,
.sale {
    border: none;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.order legend,
.sale legend {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.order-list {
    margin-bottom: 20px;
    max-height: 200px;
    overflow-y: auto;
    padding-right: 20px;
    border-bottom: 1px solid #ccc;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-item {
    height: 40px;
    padding: 0 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-group {
    display: flex;
    gap: 10px;
}

.button {
    height: 40px;
    padding: 0 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.sale-info p {
    margin-bottom: 10px;
}

.sale-info span {
    font-weight: bold;
    margin-right: 5px;
    color: #333;
}

.total-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.total-info p {
    font-weight: bold;
}

.total-amount {
    color: #007bff;
}

.consult-items {
    margin-top: 20px;
}
